Repository borglab/wrap, pull requests merged in 2021-04, with the labels that each got.

#77 Allow templates as paramters to templates
  DOCS.md
  gtwrap/interface_parser/classes.py
  gtwrap/interface_parser/function.py
  gtwrap/interface_parser/template.py
  gtwrap/interface_parser/type.py
  tests/expected/matlab/+gtsam/PinholeCameraCal3Bundler.m
  tests/expected/matlab/special_cases_wrapper.cpp
  tests/expected/python/special_cases_pybind.cpp
  tests/fixtures/special_cases.i
Labels: bugfix

#89 Include `pybind11/iostream` in example tpl
  templates/pybind_wrapper.tpl.example
Labels: quick review

#90 Add cpp generation dependencies
  cmake/PybindWrap.cmake
Labels: quick review

#91 Enum Support
  gtwrap/interface_parser/__init__.py
  gtwrap/interface_parser/classes.py
  gtwrap/interface_parser/enum.py
  gtwrap/interface_parser/module.py
  gtwrap/interface_parser/namespace.py
  gtwrap/interface_parser/tokens.py
  gtwrap/interface_parser/utils.py
  gtwrap/pybind_wrapper.py
  gtwrap/template_instantiator.py
  tests/expected/python/enum_pybind.cpp
  tests/fixtures/enum.i
  tests/test_interface_parser.py
  tests/test_pybind_wrapper.py
Labels: feature

#94 Better cmake messages
  CMakeLists.txt
Labels: cmake

#88 git subtree documentation
  README.md
Labels: documentation

#98 Assign global variable value correctly
  gtwrap/pybind_wrapper.py
Labels: bugfix

#97 Fix enums defined in classes
  gtwrap/pybind_wrapper.py
  tests/expected/python/enum_pybind.cpp
  tests/fixtures/enum.i
Labels: bugfix

#99 Allow default args of 0
  gtwrap/interface_parser/tokens.py
  gtwrap/pybind_wrapper.py
  tests/expected/matlab/TemplatedFunctionRot3.m
  tests/expected/matlab/functions_wrapper.cpp
  tests/expected/python/functions_pybind.cpp
  tests/fixtures/functions.i
  tests/test_interface_parser.py
Labels: bugfix, quick review

#101 Support object types as default arguments
  gtwrap/interface_parser/function.py
  gtwrap/interface_parser/tokens.py
  gtwrap/interface_parser/variable.py
  gtwrap/pybind_wrapper.py
  gtwrap/template_instantiator.py
  tests/expected/matlab/MyFactorPosePoint2.m
  tests/expected/matlab/TemplatedFunctionRot3.m
  tests/expected/matlab/class_wrapper.cpp
  tests/expected/matlab/functions_wrapper.cpp
  tests/expected/matlab/geometry_wrapper.cpp
  tests/expected/matlab/inheritance_wrapper.cpp
  tests/expected/matlab/namespaces_wrapper.cpp
  tests/expected/matlab/special_cases_wrapper.cpp
  tests/expected/python/class_pybind.cpp
  tests/expected/python/functions_pybind.cpp
  tests/fixtures/class.i
  tests/fixtures/functions.i
  tests/test_interface_parser.py
Labels: feature
